language: bash
env:
      global:
      - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
      - CACHE="$HOME/.cache/entities"
      - XML_CATALOG_FILES="catalog.xml"

dist: yakkety

cache:
  directories:
    - $CACHE

addons:
  apt:
    packages:
    - libxml2-utils
    - libxml2-dev
    - libxml2

before_script:
    - cat /etc/os-release
    - echo $TRAVIS_COMMIT
    - xmllint --version

script:
    - ./travis/travis.sh travis/test.xml
